<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= comment.name %></strong>
            <%= comment.comment  %>
          </p>
        </div>
      </div>
    </div>
    <%= link_to "Delete", [comment.post,comment], data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } , class: 'button is-danger'%>

  </article>
</div>